#container { /* currently unused because .content did the centering job better */
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
  background: url("dorota-dylka-69581.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
}

button {
   background-color: #555555;
   font-size: 20px;
   color: white;
  } /* Black */

h1 {
  font-family: 'Courgette', cursive;
  text-align: center;
  color: white;
}

h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
}

h3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Demo__some-network__share-button {
  cursor: pointer;
}

.Demo__some-network__share-button:hover:not(:active) {
  opacity: 0.75;
}

#footer {
  /*background: none repeat scroll 0 0 transparent;
   bottom: 0;
   position: fixed;
   text-align: center;
   width: 100%;*/
   position: fixed;
   bottom: 0;
width: 100%;
}

#center1 {
    width: 500px;
    margin: 0 auto;
}
